@{
    ViewData["Title"] = "Home Page";
}

<div class="ui orange inverted vertical masthead center aligned segment">
    <div class="ui text container">

        <h1 class="ui inverted header">
            Flatiron Turned Gridiron
        </h1>
        <h2>Artist Battle</h2>
        <!--<a class="ui huge secondary button" href="http://semantic-ui.com/">
            Get Started <i class="right arrow icon"></i>-->
        </a>
    </div>
</div>